<div class="container mt-5">
    <br>
        <div class="row justify-content-between">

            <!-- Card "Disponíveis" -->
            <div class="col-md-3">
                <div class="card text-center text-white shadow card_disponivel">
                    <div class="card-body">
                        <h5 class="card-title text-left">Disponíveis</h5>
                        <h1 class="card-text display-2 tex">800</h1>
                    </div>
                </div>
            </div>
            
            <!-- Card "Alugados" -->
            <div class="col-md-3">
                <div class="card text-center shadow">
                    <div class="card-body">
                        <h5 class="card-title text-left">Alugados</h5>
                        <h1 class="card-text text-success display-2 tex">500</h1>
                    </div>
                </div>
            </div>

            <!-- Card "Oficina" -->
            <div class="col-md-3">
                <div class="card text-center shadow">
                    <div class="card-body">
                        <h5 class="card-title text-left">Oficina</h5>
                        <h1 class="card-text text-success display-2 tex">300</h1>
                    </div>
                </div>
            </div>

            <!-- Card "Reservados" -->
            <div class="col-md-3">
                <div class="card text-center shadow">
                    <div class="card-body">
                        <h5 class="card-title text-left">Reservados</h5>
                        <h1 class="card-text text-success display-2 tex">200</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>