</div>
    <br><br><br><br><br>
    <h1 class="text-center">Nossos Veículos</h1>

    <div class="container mb-4">
      <!--Audi-->
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="/img/audi/audi-logo-10.png" width="60" height="30" class="d-inline-block align-top" alt="">
          Audi
        </a>
      </nav> <br>
      <div class="card-deck">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/audi/Audi-Q3-Sportback.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Audi Q3 Sportback</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/audi/Audi-Q5-TFSI-e.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Audi Q5 TFSI</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/audi/Audi-RS-5-Sportback-Competition-Plus.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Audi RS 5 Sportback Competition Plus</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/audi/Audi-RS6-Avant.PNG" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Audi RS 6 Avant</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/audi/Audi-RS-e-Tron.PNG" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Audi RS e-Tron</h5>
            </div>
          </div>
      </div><br><br>
      <!--Chevrolet-->
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="/img/chevrolet/Chevrolet-logo-3.png" width="50" height="30" class="d-inline-block align-top" alt="">
          Chevrolet
        </a>
      </nav> <br>
      <div class="card-deck">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/chevrolet/chev-cruze.branco.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Chevrolet Cruze</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/chevrolet/chev-onix-branco.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Chevrolet Ônix</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/chevrolet/chev-s10.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Chevrolet S10</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/chevrolet/chev-silverado-branca.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Chevrolet Silverado</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/chevrolet/chev-blazer-ev-eletrico.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Chevrolet Blazer EV-e</h5>
            </div>
          </div>
      </div><br><br>

      <!--Volkseagen-->
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="/img/volksvagen/volkswagen-vw-logo-10.png" width="40" height="30" class="d-inline-block align-top" alt="">
          Volkswagen
        </a>
      </nav> <br>
      <div class="card-deck">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/volksvagen/volks-nivus-Highline-200-TSI.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Volkswagen Nivus Highline 200 TSI</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/volksvagen/volks-novo-virtus-Exclusive.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Volkswagen Novo Virtus Exclusive</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/volksvagen/volks-Polo-gts-250-tsi.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Volkswagen Polo GTS 250 TSI</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/volksvagen/volks-T-Cross-Highline-250-TSI.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Volkswagen T-Cross Highline 250 TSI</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/volksvagen/volks-Taos-Highline-250-TSI.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Volkswagen Taos Highline 250 TSI</h5>
            </div>
          </div>
          
      </div>

    </div><br><br><br>