<!-- Menu de opções -->
{{> menu}}

<div class="container text-justify p-5">
      <div class="text-center">
        <img src="/img/carIcon.png" alt=".." class="rounded" srcset="">
        <h1>LocaCar</h1>
      </div>
      <br><br>
      <h5 class="text-center">Missão da LocaCar:</h5>

      Facilitar a mobilidade e proporcionar liberdade aos nossos clientes, oferecendo serviços de aluguel de carros com qualidade, segurança e comodidade, contribuindo para uma experiência de viagem inesquecível.
      <br><br><br>
      <h5 class="text-center">Objetivos da LocaCar:</h5>
      1. Excelência no Atendimento ao Cliente: Garantir a satisfação do cliente, fornecendo um serviço de alta qualidade, atenção personalizada e assistência pronta em todas as etapas do aluguel.
      <br>
      2. Variedade e Qualidade da Frota: Manter uma frota diversificada e atualizada, oferecendo carros de alta qualidade e desempenho, sempre mantidos em condições impecáveis.
      <br>
      3. Ampliação de Localizações: Expandir nossa presença para atender às necessidades de mobilidade dos clientes em mais cidades e regiões.
      <br>
      4. Sustentabilidade Ambiental: Comprometer-se com práticas sustentáveis, incluindo a incorporação de veículos mais eficientes em termos de combustível e a redução da pegada de carbono.
      <br>
      5. Inovação Tecnológica: Implementar tecnologias avançadas para simplificar o processo de aluguel, como aplicativos móveis e sistemas de reservas online.
      <br>
      6. Desenvolvimento da Equipe: Investir no crescimento e bem-estar de nossos funcionários, criando um ambiente de trabalho positivo e incentivando o desenvolvimento profissional.
      <br><br><br>
      <h5 class="text-center">Valores da LocaCar:</h5>

      1. Satisfação do Cliente: Colocamos os interesses e as necessidades dos nossos clientes em primeiro lugar, sempre buscando superar as expectativas.
      <br>
      2. Integridade: Operamos com ética, honestidade e transparência em todas as nossas ações e decisões.
      <br>
      3. Qualidade e Segurança: Comprometemo-nos com a manutenção de uma frota de alta qualidade e com os mais rigorosos padrões de segurança.
      <br>
      4. Respeito: Valorizamos a diversidade, respeitamos todas as pessoas e comunidades com as quais interagimos.
      <br>
      5. Responsabilidade Ambiental: Agimos de maneira ambientalmente responsável, minimizando nosso impacto no meio ambiente.
      <br>
      6. Inovação: Buscamos constantemente novas formas de melhorar nossos serviços e processos, adotando inovações tecnológicas.
      <br>
      7. Trabalho em Equipe: Fomentamos o trabalho colaborativo e valorizamos o comprometimento e o esforço de nossa equipe.
      <br><br><br>
      <div class="text-center">
        <h5 class="">Sistema locadora carros: LocaCar</h5>
        Este é um Sistema de locadora de carros online desenvolvido na disciplina de Topicos Especiais em Web - 2023.2
        <br><br><br>
        <h5 class="">Estudantes/Desenvolvedores:</h5>
        Adriano Pereira da Silva Júnior<br>
        Helder Andrade de Oliveira<br>
        Isaac de Sá da Silva<br>
        Wanderson Gomes da Costa<br>
      </div>
      <!--
        <nav class="navbar fixed-bottom navbar-light bg-light text-center>
        <p class="secondary-color text-center">LocaCar &copy;2023</p>
        </nav>
      -->
      
      
    </div>