<!-- Menu de opções -->
{{> menu}}

<main class="container pb-3"><br><br>
  <article class="container text-justify">
    <div class="text-center">
      <img src="/img/carIcon.png" alt=".." class="rounded" srcset>
      <h1>LocaCar</h1>
    </div>

    <h4 class="text-center">Missão da LocaCar:</h4>
    <p>Facilitar a mobilidade e proporcionar liberdade aos nossos clientes,
      oferecendo serviços de aluguel de carros com qualidade, segurança e
      comodidade, contribuindo para uma experiência de viagem inesquecível.</p>

    <h4 class="text-center">Missão da LocaCar:</h4>
    <ol>
      <li>Excelência no Atendimento ao Cliente: Garantir a satisfação do
        cliente,
        fornecendo um serviço de alta qualidade, atenção personalizada e
        assistência
        pronta em todas as etapas do aluguel.</li>
      <li>Variedade e Qualidade da Frota: Manter uma frota diversificada e
        atualizada, oferecendo carros de alta qualidade e desempenho, sempre
        mantidos
        em condições impecáveis.</li>
      <li>Ampliação de Localizações: Expandir nossa presença para atender às
        necessidades de mobilidade dos clientes em mais cidades e regiões.</li>
      <li>Sustentabilidade Ambiental: Comprometer-se com práticas
        sustentáveis,
        incluindo a incorporação de veículos mais eficientes em termos de
        combustível
        e a redução da pegada de carbono.</li>
      <li>Inovação Tecnológica: Implementar tecnologias avançadas para
        simplificar o
        processo de aluguel, como aplicativos móveis e sistemas de reservas
        online.</li>
      <li>Desenvolvimento da Equipe: Investir no crescimento e bem-estar de
        nossos
        funcionários, criando um ambiente de trabalho positivo e incentivando
        o
        desenvolvimento profissional.</li>
    </ol>

    <h4 class="text-center">Valores da LocaCar:</h4>
    <ol>
      <li>Satisfação do Cliente: Colocamos os interesses e as necessidades dos
        nossos
        clientes em primeiro lugar, sempre buscando superar as expectativas.</li>
      <li>Integridade: Operamos com ética, honestidade e transparência em
        todas as nossas ações e decisões.</li>
      <li>Qualidade e Segurança: Comprometemo-nos com a manutenção de uma
        frota de alta qualidade e com os mais rigorosos padrões de segurança.</li>
      <li>Respeito: Valorizamos a diversidade, respeitamos todas as pessoas e
        comunidades com as quais interagimos.</li>
      <li>Responsabilidade Ambiental: Agimos de maneira ambientalmente
        responsável, minimizando nosso impacto no meio ambiente.</li>
      <li>Inovação: Buscamos constantemente novas formas de melhorar nossos
        serviços e processos, adotando inovações tecnológicas.</li>
      <li>Trabalho em Equipe: Fomentamos o trabalho colaborativo e valorizamos
        o comprometimento e o esforço de nossa equipe.</li>
    </ol>

    <h4 class="text-center">Sistema locadora carros: LocaCar</h4>
    <p>Este é um Sistema de locadora de carros online desenvolvido na
      disciplina de Topicos Especiais em Web - 2023.2</p>

    <h4 class="text-center">Estudantes/Desenvolvedores:</h4>
    <ul>
      <li>Adriano Pereira da Silva Júnior</li>
      <li>Helder Andrade de Oliveira</li>
      <li>Isaac de Sá da Silva</li>
      <li>Wanderson Gomes da Costa</li>
    </ul>
    <!-- Adicione quantos subtítulos e conteúdo desejar -->
  </article>
</main>
