<!-- Menu de opções -->
{{> menu}}

<div class="container"><br>
    <h1 class="text-center">Cadastro de Veículos</h1><br>
    <form class="g-3 needs-validation" novalidate>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="placa">Placa do Veículo</label>
                <input type="text" class="form-control" id="placa" required>
            </div>
            <div class="form-group col-md-9">
                <label for="modelo">Marca/Modelo/Versão</label>
                <input type="text" class="form-control" id="modelo" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="ano">Ano</label>
                <input type="text" class="form-control" id="ano" required>
            </div>
            <div class="form-group col-md-3">
                <label for="ano-modelo">Ano Modelo</label>
                <input type="text" class="form-control" id="ano-modelo"
                    required>
            </div>
            <div class="form-group col-md-3">
                <label for="exercicio">Execício Licenciamento</label>
                <input type="text" class="form-control" id="exercicio"
                    required>
            </div>
            <div class="form-group col-md-3">
                <label for="cor">Cor</label>
                <input type="text" class="form-control" id="cor" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="renavan">Renavan</label>
                <input type="text" class="form-control" id="renavan" required>
            </div>
            <div class="form-group col-md-3">
                <label for="chassi">Chassi</label>
                <input type="text" class="form-control" id="chassi" required>
            </div>
            <div class="form-group col-md-3">
                <label for="motor">Motor</label>
                <input type="text" class="form-control" id="motor" required>
            </div>
            <div class="form-group col-md-3">
                <label for="crv">Número do CRV</label>
                <input type="text" class="form-control" id="crv" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="cla">Código de segurança do CLA</label>
                <input type="text" class="form-control" id="cla" required>
            </div>
            <div class="form-group col-md-3">
                <label for="crv">Número do CRV</label>
                <input type="text" class="form-control" id="crv" required>
            </div>
            <div class="form-group col-md-3">
                <label for="combustivel">Combustível</label>
                <input type="text" class="form-control" id="combustivel"
                    placeholder="Gasolina, etanol, etc." required>
            </div>
            <div class="form-group col-md-3">
                <label for="lotacao">Lotação</label>
                <input type="text" class="form-control" id="lotacao"
                    placeholder="Qtde. passageiros" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="cpf-proprietario">CPF/CNPJ Proprietário</label>
                <input type="text" class="form-control" id="cpf-proprietario"
                    required>
            </div>
            <div class="form-group col-md-9">
                <label for="nome-proprietario">Nome do Proprietário</label>
                <input type="text" class="form-control" id="nome-proprietario"
                    required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="categoria">Categoria</label>
                <input type="text" class="form-control" id="categoria"
                    placeholder="Particular, etc." required>
            </div>
            <div class="form-group col-md-3">
                <label for="local">Local</label>
                <input type="text" class="form-control" id="local"
                    placeholder="Cidade" required>
            </div>
        </div>
        <button type="reset" class="btn btn-primary">Limpar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <script src="./verificacao-campos.js"></script>
        <script src="./limpar-campos.js"></script>
    </form>
</div>