body{
    height: 100vh;
}

#titulo_login{
    color: #000000;
    font-size: 30px;
    font-weight: bold; 
    padding: 10px;
}

.hover_menu:hover{
    color: rgb(0, 0, 0) !important;
    background-color: #c9c9c9;
}

/* CSS para os cards da tela home*/
.card_disponivel{
    background: linear-gradient(to bottom, #1e3c72, #2a5298);
}

.card{
     border-radius: 30px;
}

@media screen and (max-width: 995px) and (min-width: 760px) {
    .tex{
      font-size: 60px !important;
    }
  }
        
